.DS_Store

# fish files
fish/completions/*
fish/conf.d/nvm.fish
fish/conf.d/rustup.fish
fish/functions/*
fish/functions/fisher.fish
fish/fish_variables

# helix files
helix/runtime

# neovim files
nvim/lazy-lock.json
nvim/plugin/packer_compiled.lua

.luarc.json

# emacs
emacs/elpa
emacs/auto-save-list
emacs/transient
emacs/#init.el#
emacs/init.el~

# keyboard firmware stuff
qmk_firmware/
vial-qmk/
