.DS_Store

# fish files
fish/completions/*
fish/conf.d/nvm.fish
fish/conf.d/rustup.fish
fish/conf.d/fzf.fish
fish/fish_variables
fish/user/theme_env.fish
fish/functions/_*
fish/functions/*fzf*
fish/functions/bass.fish
fish/functions/fisher.fish
fish/functions/theme_*

# helix files
helix/runtime

# neovim files
nvim/lazy-lock.json
nvim/plugin/packer_compiled.lua
nvim/lua/private_plugins

.luarc.json

# emacs
emacs/#init.el#
emacs/*cache
emacs/*shell
emacs/.cache
emacs/.lsp-session
emacs/auto-save-list
emacs/backups
emacs/custom-vars.el
emacs/elpa
emacs/elpaca
emacs/history
emacs/init.el~
emacs/places
emacs/projects
emacs/recentf
emacs/straight
emacs/transient
emacs/tree-sitter
/**/*.el~
/**/*.elc

# keyboard firmware stuff
qmk_firmware/
vial-qmk/
