default_layout "compact"
pane_frames false
simplified_ui true
copy_on_select false

theme "gruvbox-dark-hard"
keybinds {
  normal {
    bind "Alt g" { Run "gitui" "-t" "mocha.ron"; TogglePaneEmbedOrFloating; }
    bind "Alt d" { CloseFocus; }
  }

  locked {
    bind "Alt h" { MoveFocus "Left"; }
    bind "Alt l" { MoveFocus "Right"; }
    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
    bind "Alt n" { GoToNextTab; }
    bind "Alt f" { ToggleFocusFullscreen; }
    bind "Alt p" { GoToPreviousTab; }
    bind "Alt >" { Resize "Increase"; }
    bind "Alt <" { Resize "Decrease"; }
    bind "Alt e" { EditScrollback; }

    bind "Alt d" { CloseFocus; }
  }
}

themes {
  catppuccin-mocha {
    bg "#585b70"
    fg "#cdd6f4"
    red "#f38ba8"
    green "#a6e3a1"
    blue "#89b4fa"
    yellow "#f9e2af"
    magenta "#f5c2e7"
    orange "#fab387"
    cyan "#89dceb"
    black "#181825"
    white "#cdd6f4"
  }

  nord {
    fg 216 222 233 // #D8DEE9
    bg 46 52 64 // #2E3440
    black 59 66 82 // #3B4252
    red 191 97 106 // #BF616A
    green 163 190 140 // #A3BE8C
    yellow 235 203 139 // #EBCB8B
    blue 129 161 193 // #81A1C1
    magenta 180 142 173 // #B48EAD
    cyan 136 192 208 // #88C0D0
    white 229 233 240 // #E5E9F0
    orange 208 135 112 // #D08770
  }

  gruvbox-dark {
    fg 213 196 161
    bg 60 56 54
    black 40 40 40
    red 204 36 29
    green 152 151 26
    yellow 215 153 33
    blue 69 133 136
    magenta 177 98 134
    cyan 104 157 106
    white 251 241 199
    orange 214 93 14
  }

  gruvbox-dark-hard {
    fg 213 196 161
    bg 60 56 54 // was: 40 40 40
    black 60 56 54 // was: 40 40 40
    // black 29 32 33 // background of tab-bar
    red 204 36 29
    green 69 133 136 // swapped with blue
    yellow 215 153 33
    blue  152 151 26 // swapped with green
    magenta 177 98 134
    cyan 104 157 106
    white 251 241 199
    orange 214 93 14
  }

  tokyonight_night {
    fg 192 202 245
    bg 40 52 87
    black 21 22 30
    red 247 118 142
    green 158 206 106
    yellow 224 176 104
    blue 122 162 247
    magenta 187 154 247
    cyan 125 207 255
    white 169 177 214
    orange 255 158 100
  }

  rose-pine {
    bg "#191724"
    fg "#e0def4"
    red "#eb6f92"
    green "#31748f"
    blue "#9ccfd8"
    yellow "#f6c177"
    magenta "#c4a7e7"
    orange "#fe640b"
    cyan "#ebbcba"
    black "#26233a"
    white "#e0def4"
  }
}
