default_layout "compact"
pane_frames false
simplified_ui true
copy_on_select false

theme "kanagawa"

keybinds {
  normal {
    bind "Alt d" { CloseFocus; }
  }

  locked {
    bind "Alt h" { MoveFocus "Left"; }
    bind "Alt l" { MoveFocus "Right"; }
    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
    bind "Alt n" { GoToNextTab; }
    bind "Alt f" { ToggleFocusFullscreen; }
    bind "Alt p" { GoToPreviousTab; }
    bind "Alt >" { Resize "Increase"; }
    bind "Alt <" { Resize "Decrease"; }
    bind "Alt e" { EditScrollback; }

    bind "Alt d" { CloseFocus; }
  }
}
